$cyan-600: hsl(192, 37, 48);
$cyan-300: hsl(192, 90, 77);
$purple-600: hsl(268, 34, 53);
$purple-300: hsl(268, 100, 86);
$slate-900: hsl(240, 21, 20);
$slate-600: hsl(240, 10, 57);
$slate-300: hsl(240, 18, 85);
$white: hsl(0, 0, 98);

#root {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: auto;

  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {


  .main_images {
    display: inline-block;
    justify-content: center;
    width: 20vw;
    margin: 0 10px;
    border-radius: 5px;
  }

  .section_icon {
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center;
    border: $slate-300 1px solid;
    border-radius: 50%;
    background-color: $white;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}