@font-face {
  font-family: 'Red Hat Display';
  src: url('./assets/fonts/RedHatDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./assets/fonts/RedHatDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@function text-style($color, $font-size, $font-weight, $font-family: "Red Hat Display") {
  @return (
    color: $color,
    font-size: $font-size,
    font-weight: $font-weight,
    font-family: $font-family
  );
}

@mixin apply-style($styles) {
  @each $property, $value in $styles {
    #{$property}: $value;
  }
}

$cyan-600: hsl(192, 37, 48);
$cyan-300: #71C0D4;
$cyan-version: hsl(192, 90%, 77%);
$footer-overlay: hsla(192, 37, 48, 0.9);
$purple-600: hsl(268, 34, 53);
$purple-300: hsl(268, 100, 86);
$purple-version: hsl(268, 100%, 93%);
$slate-900: hsl(240, 21, 20);
$slate-600: hsl(240, 10, 57);
$slate-300: hsl(240, 18, 85);
$white: hsl(0, 0, 98);

$app-quote-style: text-style($slate-900, 64px, 900);
$app-desc-style: text-style($slate-600, 18px, 500);
$footer-quote-style: text-style($white, 64px, 900);
$footer_desc-style: text-style($white, 18px, 500);
$cyan-button-style: text-style($white, 16px, 900);
$cyan-version-style: text-style($cyan-version, 16px, 900);
$purple-button-style: text-style($white, 16px, 900);
$purple-version-style: text-style($purple-version, 16px, 900);
$section-style: text-style($slate-600, 16px, 900);
$small-quote-style: text-style($cyan-600, 16px, 900);

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  text-align: center;
  overflow-x: hidden;
  margin: 0;

  .app {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    .logo {
      margin-bottom: 4rem;
      height: 12%;
    }

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hero_container {
        display: flex;
        justify-content: center;
        align-items: center;

        .hero_left, .hero_right {
          display: none;
        }

        .hero_merge {
          width: 97%;
        }
      }

      .hero_container img {
        width: 100%;
        height: auto;
      }

      .app_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10vw;

        .app_quote {
          margin-bottom: 10px;
          @include apply-style($app-quote-style);
          font-size: 2.9rem;
          line-height: 3.4rem;
        }

        .app_desc {
          margin-bottom: 20px;
          @include apply-style($app-desc-style);
          line-height: 1.8rem;
        }

        .download_btn {
          padding: 20px 50px;
          margin-top: 0.5rem;
          border-radius: 30px;
          background-color: $cyan-600;
          border-style: none;
          cursor: pointer;
          transition: background-color 0.3s;

          .download_text {
            @include apply-style($cyan-button-style);
          }

          .download_version {
            @include apply-style($cyan-version-style);
          }

          &:hover {
            background-color: $cyan-300;
          }
        }

        .what_btn {
          padding: 20px 45px;
          margin-top: 1rem;
          border-radius: 30px;
          background-color: $purple-600;
          border-style: none;
          cursor: pointer;
          transition: background-color 0.3s;
          @include apply-style($purple-button-style);

          &:hover {
            background-color: $purple-300;
          }

        }
      }
    }
    main {
      .section_1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .connected_line {
          width: 1px;
          height: 5rem;
          background-color: $slate-300;
          margin-top: 4rem;
        }

        .circle_number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: $slate-300 1px solid;
          @include apply-style($section-style);
        }
      }

      .main_images_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: stretch;
        gap: 1rem;
        margin: 4rem 0;
        padding: 0 2rem;

        .main_image_container {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .main_image {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }

      .sect_1_title {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin: 0;
        @include apply-style($small-quote-style);
        font-size: 0.95rem;
        line-height: 3.4rem;
      }

      .sect_1_quote {
        margin: 0;
        @include apply-style($app-quote-style);
        font-size: 2.3rem;
        padding: 0 15vw;
        line-height: 3.4rem;
      }

      .sect_1_desc {
        margin: 0;
        @include apply-style($app-desc-style);
        padding: 0 12vw;
        line-height: 1.8rem;
        margin-top: 1.5rem;
      }
    }

    footer {
      position: relative;

      .section_2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        transform: translate(0%, 15%);

        .connected_line {
          width: 1px;
          height: 5rem;
          background-color: $slate-300;
          margin-top: 3.5rem;
        }

        .circle_number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          background-color: $white;
          border-radius: 50%;
          border: $slate-300 1px solid;
          @include apply-style($section-style);
        }
      }

      .footer_container {
        position: relative;
        width: 100vw;

        .footer_bg {
          position: relative;

          .mobile_footer {
            width: 100%;
            height: auto;
            display: block;
          }

          .tablet_footer, .desktop_footer {
            display: none;
          }

          .footer_overlay {
            position: absolute;
            width: 100vw;
            height: 100%;
            background-color: $footer-overlay;
          }
        }

        .footer_content {
          position: absolute;
          padding-top: 2rem;
          z-index: 2;
          transform: translate(0%, -108vw);

          .sect_2_title {
            margin: 0;
            @include apply-style($footer-quote-style);
            font-size: 2.3rem;
            padding: 0 12vw;
            line-height: 3.4rem;
          }

          .sect_2_desc {
            margin: 0;
            @include apply-style($footer-desc-style);
            font-size: 1em;
            padding: 0 10vw;
            line-height: 1.8rem;
            margin-top: 1.5rem;
          }

          .buttons {

            margin-top: 2rem;

            .download_btn {
              padding: 20px 50px;
              border-radius: 30px;
              background-color: $purple-600;
              border-style: none;
              cursor: pointer;
              transition: background-color 0.3s;

              .download_text {
                @include apply-style($purple-button-style);
              }

              .download_version {
                @include apply-style($purple-version-style);
              }

              &:hover {
                background-color: $purple-300;
              }
            }
          }
        }
      }
    }
  }
}
